<div class="forum-container">
  <h2 class="forum-title">Forum</h2>

  <a routerLink="/nueva-conversacion" class="btn btn-primary">New Topic</a>

  <div class="trending-topics">
    <div class="section-header">
      <h3>Trending Topics</h3>
      <button class="btn-view-all">View All →</button>
    </div>

    <div
      *ngFor="let conv of conversaciones"
      class="conversation-item d-flex justify-content-between align-items-center"
    >
      <div (click)="verConversacion(conv.id)" class="flex-grow-1">
        <span class="icon">💬</span>
        <span class="title">{{ conv.titulo }} | </span>
        <span class="title">{{ conv.descripcion }}</span>
      </div>

      <div *ngIf="conv.user_id === auth.user?.id" class="ms-2">
        <button
          class="btn btn-sm btn-warning me-1"
          (click)="editarConversacion(conv.id)"
        >
          ✏️
        </button>
        <button
          class="btn btn-sm btn-danger"
          (click)="eliminarConversacion(conv.id)"
        >
          🗑️
        </button>
      </div>
    </div>

    <!-- <ul class="topic-list">
      <li *ngFor="let topic of trendingTopics" class="topic-item">
        <span class="emoji">{{ topic.icon }}</span>
        {{ topic.nombre }}
      </li>
    </ul> -->
  </div>

  <div class="bottom-actions">
    <button class="action-btn">🔍<br />Search</button>
    <button class="action-btn">💬<br />Discussions</button>
    <button class="action-btn">📝<br />New Topic</button>
  </div>
</div>
