<div class="nba-auth-container">
  <div class="nba-auth-card nba-card-register">
    <div class="nba-auth-header">
      <h2>Join Hoops Fever</h2>
      <p>Create Account</p>
    </div>

    <form class="nba-auth-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="nba-form-group">
        <label class="nba-input-label">Full Name</label>
        <input type="text" class="nba-input" formControlName="name">
      </div>
      
      <div class="nba-form-group">
        <label class="nba-input-label">Email</label>
        <input type="email" class="nba-input" formControlName="email">
      </div>
      
      <div class="nba-form-group">
        <label class="nba-input-label">Password</label>
        <input type="password" class="nba-input" formControlName="password">
      </div>
      
      <div class="nba-form-group">
        <label class="nba-input-label">Confirm Password</label>
        <input type="password" class="nba-input" formControlName="password_confirmation">
      </div>

      <button class="nba-btn nba-btn-red" type="submit">Register</button>
    </form>
  </div>
</div>