<div class="auth-container">
  <h2>Crear Cuenta</h2>
  <form (ngSubmit)="onSubmit()">
    <input [(ngModel)]="user.name" name="name" placeholder="Nombre" required />
    <input [(ngModel)]="user.email" name="email" placeholder="Email" required />
    <input [(ngModel)]="user.password" name="password" type="password" placeholder="Contraseña" required />
    <input [(ngModel)]="user.password_confirmation" name="password_confirmation" type="password" placeholder="Repite Contraseña" required />
    <button type="submit">Registrarse</button>
    <p *ngIf="error" class="error-message">{{ error }}</p>
  </form>
</div>
